openapi: 3.1.0
info:
  title: Honeybadger API
  description: |
    Honeybadger exposes two HTTP APIs. The Reporting API ingests
    exceptions, deploys, check-ins, source maps, and events from
    instrumented applications using a project API key in the `X-API-Key`
    header. The Data API provides read/write access to projects, faults,
    and reports using HTTP Basic auth with a personal auth token as the
    username and empty password.
  version: "2.0"
  contact:
    name: Honeybadger API Docs
    url: https://docs.honeybadger.io/api/
servers:
  - url: https://api.honeybadger.io
    description: Honeybadger API
security:
  - BasicAuth: []
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: |
        HTTP Basic auth. Use your personal AUTH_TOKEN as the username and
        leave the password empty: `-u AUTH_TOKEN:`. Required for the
        Data API (`/v2/*`).
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Project API key used by the Reporting API (`/v1/*`).
paths:
  /v1/notices:
    post:
      summary: Report an exception
      operationId: reportNotice
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notifier: { type: object }
                error:
                  type: object
                  properties:
                    class: { type: string }
                    message: { type: string }
                    backtrace: { type: array, items: { type: object } }
                    tags: { type: array, items: { type: string } }
                    fingerprint: { type: string }
                request:
                  type: object
                  properties:
                    context: { type: object }
                    component: { type: string }
                    action: { type: string }
                    url: { type: string }
                    params: { type: object }
                    session: { type: object }
                    cgi_data: { type: object }
                server:
                  type: object
                  properties:
                    project_root: { type: object }
                    environment_name: { type: string }
                    hostname: { type: string }
                    revision: { type: string }
                    pid: { type: integer }
                breadcrumbs: { type: object }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
        "403": { description: Invalid API key or deactivated account }
        "413": { description: Payload exceeds 256KB }
        "422": { description: Malformed payload }
        "429": { description: Rate limit exceeded }
  /v1/check_in/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Submit a check-in for a scheduled task
      operationId: submitCheckIn
      security:
        - ApiKeyAuth: []
      responses:
        "200": { description: OK }
  /v1/deploys:
    post:
      summary: Record a deploy
      operationId: recordDeploy
      security:
        - ApiKeyAuth: []
      responses:
        "201": { description: Created }
  /v1/source_maps:
    post:
      summary: Upload source maps for JavaScript
      operationId: uploadSourceMaps
      security:
        - ApiKeyAuth: []
      responses:
        "201": { description: Created }
  /v1/events:
    post:
      summary: Send custom events
      operationId: createEvent
      security:
        - ApiKeyAuth: []
      responses:
        "202": { description: Accepted }
  /v2/projects:
    get:
      summary: List projects
      operationId: listProjects
      parameters:
        - name: account_id
          in: query
          required: false
          schema: { type: string }
      responses:
        "200": { description: OK }
    post:
      summary: Create a project
      operationId: createProject
      parameters:
        - name: account_id
          in: query
          required: false
          schema: { type: string }
      responses:
        "201": { description: Created }
  /v2/projects/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get a project
      operationId: getProject
      responses:
        "200": { description: OK }
    put:
      summary: Update a project
      operationId: updateProject
      responses:
        "200": { description: OK }
    delete:
      summary: Delete a project
      operationId: deleteProject
      responses:
        "204": { description: Deleted }
  /v2/projects/occurrences:
    get:
      summary: Count error occurrences across all projects
      operationId: getOccurrencesAcrossProjects
      responses:
        "200": { description: OK }
  /v2/projects/{id}/occurrences:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Count error occurrences for a project
      operationId: getProjectOccurrences
      responses:
        "200": { description: OK }
  /v2/projects/{id}/integrations:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List project integrations
      operationId: listProjectIntegrations
      responses:
        "200": { description: OK }
  /v2/projects/{id}/reports/notices_by_class:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Error counts grouped by exception class
      operationId: reportNoticesByClass
      responses:
        "200": { description: OK }
  /v2/projects/{id}/reports/notices_by_location:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Error counts grouped by location
      operationId: reportNoticesByLocation
      responses:
        "200": { description: OK }
  /v2/projects/{id}/reports/notices_by_user:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Error counts grouped by affected user
      operationId: reportNoticesByUser
      responses:
        "200": { description: OK }
  /v2/projects/{id}/reports/notices_per_day:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Error counts grouped by day
      operationId: reportNoticesPerDay
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List faults
      operationId: listFaults
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get a fault
      operationId: getFault
      responses:
        "200": { description: OK }
    put:
      summary: Update a fault
      operationId: updateFault
      responses:
        "200": { description: OK }
    delete:
      summary: Delete a fault
      operationId: deleteFault
      responses:
        "204": { description: Deleted }
  /v2/projects/{projectId}/faults/summary:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Fault summary counts grouped by environment and status
      operationId: getFaultSummary
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/occurrences:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get occurrence counts for a fault
      operationId: getFaultOccurrences
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/pause:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Pause notifications for a fault
      operationId: pauseFault
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/unpause:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Unpause a fault
      operationId: unpauseFault
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/unpause:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Unpause all faults in a project
      operationId: unpauseAllFaults
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/resolve:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Resolve all faults in a project
      operationId: resolveAllFaults
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/link:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Link a fault to an external issue (GitHub, Pivotal, etc.)
      operationId: linkFault
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/unlink:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Unlink a fault from its external issue
      operationId: unlinkFault
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/notices:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List individual error notices for a fault
      operationId: listFaultNotices
      responses:
        "200": { description: OK }
  /v2/projects/{projectId}/faults/{faultId}/affected_users:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
      - name: faultId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List users affected by a fault
      operationId: listAffectedUsers
      responses:
        "200": { description: OK }
